@media only screen and (max-width: 1280px) {
  main .container {
    width: 70%;
  }
  main .container h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 770px) {
  main .container {
    padding: 35px;
    width: 60%;
  }
  main .container h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 540px) {
  main .container h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 415px) {
  main .container {
    margin-top: 70px;
    padding: 30px;
    width: 65%;
  }
  main .container h1 {
    font-size: 22px;
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 25px;
    font-size: 22px;
  }
  main .container button {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 375px) {
  main .container h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 285px) {
  main .container {
    margin-top: 40px;
    padding: 20px;
    width: 70%;
  }
  main .container h1 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  main .container h2 {
    margin-bottom: 60px;
    font-size: 16px;
  }

  main .container button {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
